body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.colorSquare{
    border: solid;
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;

}

.activeSquare{
    background-color: green;
}

.row {
    display: flex;
}